@model Persona

@{
    ViewData["Title"] = "Home";
    string texto = "Googleeeeee";
}

@if (false)
{
    <div class="text-center">
        <h1 class="display-4">Bienvenidos</h1>
        <p>Acceda a <a href="https://www.google.com.ar">@texto</a>.</p>
    </div>
}
else
{
    <h1>El nombre pasado es @Model.Nombre</h1>
}

